<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Síntomas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>Selecciona todos los síntomas que presentas</h5>
  <ion-list>
    <!-- Asegúrate de que la propiedad 'nombre' exista en los objetos de síntomas -->
    <ion-item *ngFor="let sintoma of sintomas">
      <ion-label>{{ sintoma.id}}  - {{sintoma.nombre }}</ion-label>
      <!-- Utiliza 'sintoma.id' como clave para el objeto 'seleccionados' -->
      <ion-checkbox slot="end" (ionChange)="cambiarSeleccion(sintoma.id, $event.detail.checked)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="enviar()">Enviar</ion-button>
</ion-content>
